<!DOCTYPE html>
<html>
<head>
	<title>Ejemplo</title>
	<%- include('./partials/head.ejs') %>
	<link rel="stylesheet" type="text/css" href="css/nav.css?24">
	<link rel="stylesheet" type="text/css" href="css/index.css?24">
</head>
<body>
	<%- include('partials/nav.ejs') %>
	<header>
		<div class="text-header text-center">
			<h2>Aprende Como Yo Lo Hago<img src="Icons/pizza.svg" width="50px;"></h2>
			<br><br>
			<div class="Iconos">
				<svg width="40px" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
				</svg>
				<svg width="40px" viewBox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				  <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
				</svg>
				<svg width="30px" viewBox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				  <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
				</svg>
			</div>
		</div>
	</header>
	<div class="welcome">
		<div class="welcome-text">
			<h2><span>Bienvenidos!!</span></h2>
			<p>Es tiempo de que sean parte del <span>lado  oscuro</span>, un ambiente fuera de estrés, lleno de temas sobre tecnologías, aprendizaje y galletitas muuchas <span>GALLETITAS.</span> Este blog va dirigido a todos los que quieran aprender nuevos temas sobre desarrollo y no sepan o no han investigado aún como aprenderlas, cual es el mejor camino, donde buscar, los videos que tienen que ver para aprender de la forma mas fácil y rápida...<br><span class="especial">Justo como yo lo hice</span></p>
		</div>
	</div>
	<section class="container">
			<h2 class="d-inline-block mt-5 ml-5">Ultimos Posts</h2>

			<div class="row"> 
			<% for(let i = data.length-1; i>=0; i--){%>
			<div class="m-3">
				<% if(i%2!=0){ %>
					<div class="card relative dark">
				<% } %> 
				<% if(i%2==0){ %>
					<div class="card relative">
				<% } %>
					<img src="<%= data[i].image %>?24" class="card-img-top">
					<div class="card-body">
						<h4 class="card-title"><%= data[i].title %></h4>
						<h5 class="card-subtitle text-muted"><%= data[i].tags %></h5>
						<p class="card-text my-3"><%= data[i].description %></p>
					</div>
					<a href="<%= data[i].page %>" class="btn btn-outline-success m-3">Post</a>
				</div>
			</div>
		<%} %>
		</div>
	</section>
	<footer>
		
	</footer>
</body>
</html>

<!--CONTRIBUIDORES WEEEE
	<div>Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	-->